<% provide(:title, "About") %>
<h1>ここはいったい...</h1>
<p>
  このサイトは練習のために作られたものです。<br>
  ピーっとなったらブラウザを閉じてください。<br>
  嘘です。そんなものありません。誠にごめんなさい。<br>
</p>
<p>
  気晴らしに料理でもいかが？
  <a href="https://cookpad.com/">クックパッド</a>
</p>