<% provide(:title, "Help") %>
<h1>何かお困りですか？</h1>
<p>宵越しの銭はモタねぇ！</p>
<p>
  それではGOOGLE先生にお越し頂きましょう！
  <a href="https://www.google.co.jp/">google</a><br>
  あるいはアマゾンの雄大さをご存知？
  <a href="https://www.amazon.co.jp/"><em>amazon.co.jp</em></a>
</p>
