<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "port1-app", root_path, id: "logo" %>
    <nav>
      <%
=begin
      ***** =begin と =end は行頭におかないとダメ！ *****
      navタグは「その内側がナビゲーションリンクである」意図を明示的に伝える 
=end
      %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
